.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

.header__hidden-title {
  display: none;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main__new-tasks {
  display: flex;
}

.main__incomplete-tasks,
.main__completed-tasks {
  margin: 0;
  padding: 0;
}

.main__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 40px 0 10px;
  margin: 0;
  text-transform: uppercase;
  list-style: none;
}

.main__title_last {
  padding: 30px 0 10px;
}

.main__title_add {
  display: block;
  margin: 0 0 20px;
}

.main__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.main__btn:hover {
  color: #3a3a3a;
}

.main__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  outline: none;
}

.main__input:focus {
  color: #333;
}

.main__checkbox {
  margin: 0 10px;
}

#new-task {
  display: block;
  width: 318px;
}

.main__list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main__list>* {
  vertical-align: middle;
}

.main__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.main__list>.main__input {
  width: 226px;
  display: none;
}

.main__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__delete-icon:hover {
  transform: rotateZ(0);
}

.main__completed-tasks .main__label {
  text-decoration: line-through;
  color: #888;
}

.main__list_edit .main__input {
  display: inline-block;
  width: 224px;
}

.main__list_edit .main__label {
  display: none;
}